[run]
source = relops_hardware_controller
branch = True
data_file = /tmp/.coverage

[report]
omit =
    relops_hardware_controller/settings.py
    relops_hardware_controller/wsgi.py
    *migrations*

[xml]
output = /app/coverage.xml

[html]
directory = /app/htmlcov
