Django==1.11
celery
dj-database-url
django-configurations
django-filter
django-celery-results
django-redis
djangorestframework==3.7.3
gunicorn
markdown
mohawk
pgpy
psycopg2
python-hpilo
redis
requests
taskcluster
