Django==1.11.20
celery==4.2.1
dj-database-url==0.5.0
django-configurations==2.1
django-filter==2.0.0
django-celery-results==1.0.1
django-redis==4.9.0
djangorestframework==3.9.4
dnspython==1.15.0
gunicorn==19.9.0
Markdown==3.0.1
meinheld==0.6.1
mohawk==0.3.4
PGPy==0.4.3
psycopg2==2.7.5
python-hpilo==4.3
redis==2.10.6
requests==2.20.0
taskcluster==3.0.2
